.feedback-list {
    &__heading {
        margin-bottom: 2rem;
    }

    &__load-more {
        display: flex;
        justify-content: center;
    }

    &__no-feedback {
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 1px solid $color-black-15;
    }

    .message-banner {
        align-items: flex-start;
    
        &__button-wrapper {
            display: flex;
            width: 1.5rem;
            height: 1.5rem;
        }

        &__close-button {
            position: relative;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        &__icon.icon-close {
            width: 1rem;
            height: 1rem;
        }
    }
    
    .mntl-mobSquareFixed-sticky-dynamic {
        margin-bottom: 2.1875rem;
    }
}