/target
/.classpath
/.project
/.settings
**/src/main/resources/**/*.css
**/backupConfigs.json
**/npm-debug.log
node_modules

# Intellij
*.iml
.idea

#ESLint
mantle-resources/src/main/resources/test/coverage.txt

#emacs
**/.#*

#Mac
.DS_Store

#VSCode
.vscode

mantle-resources/src/grunt/yarn-error\.log

#gradle
.gradle/

*.class

mantle-venus/mantle-venus-model/build/
mantle-venus/mantle-venus-test/build/

.mvn/

build/
**/bin/
