.mntl-pl-body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 290px auto;
    grid-template-rows: 50px calc(100% - 50px - 50px - 40px) 50px 40px;
    grid-template-areas:
        'header header'
        'sidebar main'
        'sidebar nav'
        'footer footer';
}

.mntl-pl-header {
    grid-area: header;
}

.mntl-pl-sidebar {
    grid-area: sidebar;
}

.mntl-pl-main {
    grid-area: main;
    padding: 0 1rem 2rem;
    overflow: auto;
}

.mntl-pl-nav {
    grid-area: nav;
}

.mntl-pl-footer {
    grid-area: footer;
}