.mntl-sc-block-table__table-wrapper {
    overflow-x: auto;

    // turn off scrollbar on tables that do not have overflow
    &--no-scroll,
    &--no-scroll .mntl-sc-block-table__table {
        overflow: visible;
    }
}

.mntl-sc-block-table__table {
    min-width: 100%;
    max-width: 5vw;
    border-spacing: 0;
    border-collapse: collapse;
}
