@import 'mntlVariables';

.mntl-di-three-column-block {
    .mntl-di-module__cards {
        @media (min-width: $mntl-bp-md) {
            column-gap: 1.5rem;
            grid: auto / repeat(3, 1fr);
        }

        @media (min-width: $mntl-bp-lg) {
            column-gap: 3rem;
        }

        @media (min-width: $mntl-bp-xl) {
            column-gap: 4rem;
        }
    }
}