.mntl-structured-ingredients {
    margin: 3rem auto;

    h2.mntl-structured-ingredients__heading {
        margin-bottom: 2rem;
    }

    &__list-heading {
        margin: 1.5rem auto;
    }

    ul.mntl-structured-ingredients__list {
        margin-left: 0;
    }
}