$pl-color-primary: #1e88e5;
$pl-color-white: #ffffff;
$pl-color-gray: #eeeeee;
$pl-color-gray-2: #d4d4d4;
$pl-color-gray-3: #777777;
$pl-color-text: #333333;
$pl-color-code: #660c5b;

$pl-std-top: 10px;
$pl-std-right: 22px;

$pl-border: 1px solid $pl-color-gray-2;
$pl-padding: $pl-std-top $pl-std-right;


